<!DOCTYPE html>
<html>
    <head>
        {{ partial "head.html" . }}
    </head>
    <body>

        {{ partial "nav-single.html" . }}

        <div class="container">
            <div class="row">

                <div class="card">
                    <article>
                        <div class="">
                           <div class="card-content p-md-5">
                                
                               <div class="post-header">
                                    
                                    <div class="grey-text col l12">
                                        {{.Language.Params.updateby}} <a class="grey-text" href="{{ .Site.Author.homepage }}">{{ .Site.Author.name }}</a> - <time>{{ .Date.Format "02 January 2006" }}</time>
                                    </div>

                                    <br><br>

                                    <h2 class="card-title col l12">{{ .Language.Params.about}} :</h2>
                                

                                </div>
                                <div class="post-content row">
                                   <div class="col l12">
                                        {{ .Content }}
                                   </div>
                                    <div class="col l5 s12">
                                            <h5 class="grey-text text-darken-1 card-title">{{.Language.Params.titlebio}}</h5>
                                            <p class="grey-text">
                                                {{.Language.Params.bio}}
                                            </p>
                                        </div>
                                        <div class="col l3 s12">
                                            <h5 class="grey-text text-darken-1 card-title">
                                                    {{.Language.Params.tag}}
                                            </h5>
                                            <ul class="grey-text">
                                                <li><a class="grey-text" href="#!">Tutorials</a></li>
                                                <li><a class="grey-text" href="#!">Android Development</a></li>
                                                <li><a class="grey-text" href="#!">Jetpack</a></li>
                                                <li><a class="grey-text" href="#!">UI/UX Desgin</a></li>
                                            </ul>
                                        </div>
                                        <div class="col l4 s12">
                                            <h5 class="grey-text text-darken-1 card-title">
                                                    {{.Language.Params.connect}}
                                            </h5>
                                            <ul class="grey-text text-lighten-1">
                                                <li>
                                                    <a class="grey-text" href="https://www.youtube.com/haerulmuttaqin">
                                                        <img src="http://www.stickpng.com/assets/images/580b57fcd9996e24bc43c545.png" height="12px"
                                                            width="auto" style="margin-right:4px; margin-top:0px;">Youtube</a>
                                                    &nbsp;
                                                    <a class="grey-text" href="https://twitter.com/haerulmuttaqin">
                                                        <img src="https://ma.ambafrance.org/local/cache-vignettes/L300xH258/cb628e787c596df2-4a8b1.png"
                                                            height="15px" width="auto" style="margin-right:4px; margin-top:0px;">Twitter</a>
                                                    &nbsp;
                                                    <a class="grey-text " href="https://www.linkedin.com/in/haerulmuttaqin/">
                                                        <img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/square-linkedin-512.png"
                                                            height="15px" width="auto" style="margin-right:4px; margin-top:0px;">
                                                        Linkedin</a>
                                                </li>
                                                <li><a class="grey-text " href="https://www.facebook.com/muttaqinhaerul">
                                                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Facebook_logo_%28square%29.png/600px-Facebook_logo_%28square%29.png"
                                                            height="15px" width="auto" style="margin-right:4px; margin-top:0px;">
                                                        Facebook
                                                        &nbsp;
                                                        <a class="grey-text " href="https://www.instagram.com/haerulmuttaqin.id/">
                                                            <img src="https://instagram-brand.com/wp-content/uploads/2016/11/app-icon2.png" height="15px"
                                                                width="auto" style="margin-right:4px; margin-top:0px;">
                                                            Instagram
                                                        </a>
                                                    </a></li>
                                                <li><br>
                                                    <a class="github-button" href="https://github.com/haerulmuttaqin" aria-label="Follow @haerulmuttaqin on GitHub">Follow
                                                        @haerulmuttaqin</a>
                                                </li>
                                            </ul>
                                        </div>
                                </div>
                                <span class="list"></span>
                                <br>
                                <div class="post-footer col l12">
                                    {{ partial "disqus.html" . }}
                                </div>
                                <br><br>
                            </div>
                        </div>
                    </article>
                    </div>
            </div>
        </div>

        <!-- {{ partial "footer.html" . }} -->
        {{ partial "js-init.html" . }}
    </body>
</html>