<div aria-label="Page navigation">
    {{ $pag := $.Paginator }}
    {{ if gt $pag.TotalPages 1 }}
    <ul class="pagination">
        {{ with $pag.First }}
        <li class="waves-effect">
            <a href="{{ .URL }}" aria-label="First">
                <i class="material-icons">first_page</i></a>
        </li>
        {{ end }}
        <li {{ if not $pag.HasPrev }} class="disabled waves-effect"{{ end }}>
        <a href="{{ if $pag.HasPrev }}{{ $pag.Prev.URL }}{{ end }}" aria-label="Previous">
            <span aria-hidden="true"><i class="material-icons">chevron_left</i></span></a>
        </li>
        {{ $.Scratch.Set "__paginator.ellipsed" false }}
        {{ range $pag.Pagers }}
        {{ $right := sub .TotalPages .PageNumber }}
        {{ $showNumber := or (le .PageNumber 3) (eq $right 0) }}
        {{ $showNumber := or $showNumber (and (gt .PageNumber (sub $pag.PageNumber 2)) (lt .PageNumber (add $pag.PageNumber 2)))  }}
        {{ if $showNumber }}
            {{ $.Scratch.Set "__paginator.ellipsed" false }}
            {{ $.Scratch.Set "__paginator.shouldEllipse" false }}
        {{ else }}
            {{ $.Scratch.Set "__paginator.shouldEllipse" (not ($.Scratch.Get "__paginator.ellipsed") ) }}
            {{ $.Scratch.Set "__paginator.ellipsed" true }}
        {{ end }}
        {{ if $showNumber }}
        <li
        {{ if eq . $pag }}class="active waves-effect"{{ end }}><a href="{{ .URL }}">{{ .PageNumber }}</a></li>
        {{ else if ($.Scratch.Get "__paginator.shouldEllipse") }}
        <li class="disabled page-item"><a href="#"><span aria-hidden="true">
                <i class="material-icons">keyboard_tab</i>
        </span></a></li>
        {{ end }}
        {{ end }}
        <li
        {{ if not $pag.HasNext }}class="disabled waves-effect"{{ end }}>
        <a href="{{ if $pag.HasNext }}{{ $pag.Next.URL }}{{ end }}" aria-label="Next"><span aria-hidden="true">
                <i class="material-icons">chevron_right</i>
        </span></a>
        </li>
        {{ with $pag.Last }}
        <li class="waves-effect">
            <a href="{{ .URL }}" aria-label="Last"><span aria-hidden="true">
                    <i class="material-icons">last_page</i>
            </span></a>
        </li>
        {{ end }}
    </ul>
    {{ end }}
</div>