<br>
<div class="col l12">
    <div class="container">
        <div>
            <span class="flow-text card-title grey-text text-darken-1">
                {{.Language.Params.lastpost}}
            </span>
            <span style="vertical-align:middle; float:right; line-height: 38px;">
                <a href="/blog/" class="flow-text waves-effect btn-flat btn-lihatsemua blue-text">
                    {{.Language.Params.seeall}}
                </a>
            </span>
            <div style="clear: both;"></div>
        </div>
    </div>

    <div class="owl-carousel owl-theme">
        {{ $paginator := .Paginate (where .Data.Pages "Type" "blog") 5 }}
        {{ range $paginator.Pages }}
        <div class="col m4">
            <div class="card card-post waves-effect hoverable">
                <div class="card-image">
                    <img src='{{ if eq .Params.Image.src "" }}http://lorempixel.com/320/160{{else}}{{ .Params.Image.src }}{{end}}'
                        alt='{{ .Title }}'>
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-2">
                        <i class="material-icons right" style="margin-right:-14px;">more_vert</i>
                        <a class="grey-text text-darken-3" href="{{ .RelPermalink }}">
                            {{ .Title }}
                        </a>
                    </span>
                    <p><a href="{{ .RelPermalink }}">{{.Language.Params.readmore}}</a></p>
                </div>

                <div class="card-reveal ">
                    <span class="card-title grey-text text-darken-3">
                        <i class="material-icons right">close</i>
                        <p><small>{{ .Title }}</small></p>
                    </span>
                    <p class="grey-text text-lighten">{{ .Summary }}</p>
                    <a href="{{ .RelPermalink }}">{{.Language.Params.readmore}}</a>
                </div>
            </div>
        </div>
        {{ end }}
    </div>
</div>

<div class="container">
    <a class="btn-floating btn-medium waves-effect waves-dark white am-prev owl-arrow">
        <i class="material-icons blue-text">arrow_back</i>
    </a>
    <a class="btn-floating btn-medium waves-effect waves-dark white am-next owl-arrow">
        <i class="material-icons blue-text">arrow_forward</i>
    </a>
</div>

<br>
<br>

<script type="text/javascript" src="{{ .Site.BaseURL }}/js/jquery-3.2.1.slim.min.js"></script>
<script type="text/javascript" src="{{ .Site.BaseURL }}/js/owl.carousel.js"></script>

<script type="text/javascript">
    $('.owl-carousel').owlCarousel({
        loop: false,
        margin: 20,
        dots: false,
        dotsEach: false,
        dotsData: false,
        responsiveClass: true,
        responsive: {
            0: {
                items: 1,
                nav: true,
                stagePadding: 50,
            },
            600: {
                items: 2,
                nav: true,
                stagePadding: 100,
            },
            900: {
                items: 2,
                nav: true,
                stagePadding: 110,
            },
            1000: {
                items: 3,
                nav: true,
                stagePadding: 120,
            },
            1100: {
                items: 3,
                nav: true,
                stagePadding: 150,
            },
            1200: {
                items: 3,
                nav: true,
                stagePadding: 200,
            }
        },
        navText: [$('.am-prev'), $('.am-next')],
    });
</script>